@import url('https://fonts.googleapis.com/css?family=Palanquin');

/*************************************
*** main styles
 ***************************************/

p {
	font-family: "Palanquin", sans-serif;
	font-size: large;
}

.main {
	background: url("../images/soil-bkgd.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0 -20px;
	padding: 0;
}

#logo {
	margin: 0 auto;
	text-shadow: black;
	display: flex;
	text-align: center;
	padding-bottom: 0;
}

.display {
	min-width: 500px;

	background-color: white;
	border-bottom: 2px solid black;
	overflow: scroll;
}

li.navigation > a {
	color: white;
	font-family: 'Palanquin';
	font-size: large;
}

li.navigation > a:hover {
	background-color: #f1dcb8;
	color: black;
}

#header-nav {
	background-color: #117004;
}

#profile-img {
	max-width: 100px;
	max-height: 100px;
}

.post {
	padding: 10px;
	border: 1px solid #117004;
}

#post-image {
	max-width: 150px;
	max-height: 100px;
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 3px 3px 5px 6px #ccc;
}

/* Styling for new post modal window */

#new-post-modal {
	margin: 100px 25%;
	border: 2px solid black;
}

#cancel {
	height: 15px;
	width: 15px;
	background-color: red;
	float: right;
	margin: 10px 0;
}

.logo {
	max-width: 100%;
	margin: 5px auto;
}

.logo img {
	margin: auto auto;
	max-height: 100px;
	max-width: 100px;
}

#new-post-text {
	font-size: 1.5em;
	margin: 5px auto;
	border-bottom: 1px solid black;
}

.formgroup {
	margin: 10px 0;
}

#post-image {
	box-shadow: none;
}

#post-summary {
	max-width: 100%;
}

input {
	width: 100%;
}

/* Styling for login modal window */

#login-modal{
	margin: 100px 25%;
	border: 2px solid black;
}

#new-post-final-formgroup{
	margin-bottom: 15px;
}

#login-text{
	font-size: 1.5em;
	margin: 5px auto;
	border-bottom: 1px solid black;
}

#sign-in-final-formgroup{
	margin-bottom: 15px;
}

/* Styles for modal side-nav */

#modal-nav{
	background-color: black;
	text-align: left;
	padding: 1px 1px;
}

#side-nav{
	padding:1px;
	align-items: center;
	margin: auto auto;
}

#modal-nav ul li{
	background-color: black;
	font-family: 'Palanquin';
	font-size: .9em;
	color: white;
	list-style: none;
	padding: 2px;
	margin:1px 1px;
	border: 1px solid white;
}

#modal-nav ul li a{
	color: white;
	padding: auto auto;
	margin: auto auto;
}

#modal-nav ul li a:hover{
	text-decoration: none;
	text-underline: none;
	font-weight: bolder;
}

#modal-nav ul li a:active{
	text-decoration: none;
	text-underline: none;
}

#modal-nav ul li a:visited{
	text-decoration: none;
	text-underline: none;
}

#modal-nav ul li a:focus{
	text-decoration: none;
	text-underline: none;
}

/* Styling for new Messages modal window */

#new-message-modal {
	margin: 100px 25%;
	border: 2px solid black;
}

#new-message-text {
	font-size: 1.5em;
	margin: 5px auto;
	border-bottom: 1px solid black;
}

#message-content{
	max-width: 100%;
	resize: none;
}