@import url('https://fonts.googleapis.com/css?family=Palanquin');

/*************************************
*** main styles
 ***************************************/

p {
	font-family: "Palanquin", sans-serif;
	font-size: large;
}

.main {
	background: url("../images/soil-bkgd.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0 -20px;
	padding: 0;
}

#logo {
	margin: 0 auto;
	text-shadow: black;
	display: flex;
	text-align: center;
	padding-bottom: 0;
}

.display {
	min-width: 500px;

	background-color: white;
	border-bottom: 2px solid black;
	overflow: scroll;
}

li.navigation > a {
	color: white;
	font-family: 'Palanquin';
	font-size: large;
}

li.navigation > a:hover {
	background-color: #f1dcb8;
	color: black;
}

#header-nav {
	background-color: #117004;
}

#profile-img {
	max-width: 100px;
	max-height: 100px;
}

.post {
	padding: 10px;
	border: 1px solid #117004;
}

#post-image {
	max-width: 150px;
	max-height: 100px;
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 3px 3px 5px 6px #ccc;
}

/* Styles for modal side-nav */

#modal-nav {
	background-color: black;
	text-align: left;
	padding: 1px 1px;
}

#side-nav {
	padding: 1px;
	align-items: center;
	margin: auto auto;
}

#modal-nav ul li {
	background-color: black;
	font-family: 'Palanquin';
	font-size: .9em;
	color: white;
	list-style: none;
	padding: 2px;
	margin: 1px 1px;
	border: 1px solid white;
}

#modal-nav ul li a {
	color: white;
	padding: auto auto;
	margin: auto auto;
}

#modal-nav ul li a:hover {
	text-decoration: none;
	text-underline: none;
	font-weight: bolder;
}

#modal-nav ul li a:active {
	text-decoration: none;
	text-underline: none;
}

#modal-nav ul li a:visited {
	text-decoration: none;
	text-underline: none;
}

#modal-nav ul li a:focus {
	text-decoration: none;
	text-underline: none;
}

/* Styling for new Messages modal window */

#new-message-modal {
	margin: 100px 25%;
	border: 2px solid black;
}

#new-message-text {
	font-size: 1.5em;
	margin: 5px auto;
	border-bottom: 1px solid black;
}

#message-content {
	max-width: 100%;
	resize: none;
}


/* Styling for profile view */

#profile {
	margin: 100px 25%;
	border: 2px solid black;
}

button#edit {
	margin: 5px auto;
	display: block;
}

#profile-left {
	/*margin: 5px 0;*/
	float: left;
	width: 40%;
}

#profile-left > p {
	padding: 0 5px;
}


#profile-right {
	/*margin: 5px 0;*/
	float: right;
	width: 40%;
	/*min-height: 100%;*/
}

#profile-right > p {
	padding: 0 5px;
}

#summary-text {
	margin: 0;
	padding: 0;
	float: right;
	vertical-align: bottom;
}

#img-wrap {
	height: 150px;
	width: 150px;
	margin: 5px auto;
	border: 2px solid grey;
	padding: 1px 1px;
}

#profile-img {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 100%;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	position: relative;
}


/*Creating classes for all text and boxes on modal forms*/
.logo {
	max-width: 100%;
	margin: 5px auto;
}

.logo img {
	margin: auto auto;
	max-height: 100px;
	max-width: 100px;
}

.modal-text {
	font-size: .9em;
	margin: 5px 5px;
}

.modal-inputs{
	margin:auto 5px;
	width: auto;
}

.modal-labels{
	margin: auto 5px;
}

.modal-submit{
	margin: auto 5px;
}

.modal-final-formgroup {
	margin-bottom: 15px;
}

.modal-labels{
	margin: auto 5px;
}

.formgroup {
	margin: 10px 0;
}

input{
	box-shadow: none;
}

#post-image {
	box-shadow: none;
}

textarea{
	min-width: 95%;
	resize: none;
}
/*******
* nav bar buttons
 ********/
button.btn.btn-primary {
	background-color: #117004;
	color: white;
}

/**********************
*** footer stuff
* Flexbox Sticky Footer c/o
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
 *************************/

footer {
	background-color: #117004;
	color: white;
	font-family: 'Palanquin';
}

footer > ul {
	list-style: none;
}
/*corrects IE min-height bug - thanks to @rlewis2892*/
html { display: flex;}
body { width: 100%;}

body.sfooter > * {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}