<phpunit>
	<testsuites>
		<testsuite name="SproutSwap Unit Tests">
			<!--<file>ModeTest.php</file>
			<file>ImageTest.php</file>
			<file>PostImageTest.php</file>-->
			<file>MessageTest.php</file>
			<!--<file>ProfileTest.php</file>
			<file>PostTest.php</file>
			<file>PointTest.php</file>
			<file>AntiAbuseTest.php</file>-->
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhiteList="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>